{% extends "base.html" %}

{% set active_nav = 'articles' %}

{% block title %}{{ article.title }} | {{ SITENAME }}{% endblock %}

{% block extra_head %}
<script defer src="{{ SITEURL }}/theme/js/lightbox.js"></script>
<script defer src="{{ SITEURL }}/theme/js/heading-anchors.js"></script>
{% if article.figures %}
  <script src="{{ SITEURL }}/theme/js/d3.min.js"></script>
  <script src="{{ SITEURL }}/theme/js/figures.js"></script>
{% endif %}
{% endblock %}

{% block content %}
<article>
  <h1>{{ article.title }}</h1>
  <div class="meta">
    {{ article.date.strftime('%B %d, %Y') }}
    {% if article.tags %}
    · {% for tag in article.tags|sort(attribute='name') %}<a class="tag" href="{{ SITEURL }}/{{ tag.url }}">{{ tag.name }}</a> {% endfor %}
    {% endif %}
  </div>

  {{ article.content }}

  {% if article.prev_article or article.next_article %}
  <div class="article-nav">
    <div class="article-nav__prev">
      {% if article.prev_article %}
      <span class="article-nav__label">Previous</span>
      <a href="{{ SITEURL }}/{{ article.prev_article.url }}">{{ article.prev_article.title }}</a>
      {% endif %}
    </div>
    <div class="article-nav__next">
      {% if article.next_article %}
      <span class="article-nav__label">Next</span>
      <a href="{{ SITEURL }}/{{ article.next_article.url }}">{{ article.next_article.title }}</a>
      {% endif %}
    </div>
  </div>
  {% endif %}
</article>
{% endblock %}
