{% extends "base.html" %}

{% set active_nav = 'thoughts' %}

{% block title %}Thought #{{ article.thought_id }} | {{ SITENAME }}{% endblock %}

{% block content %}

<div class="thought">
  <a href="{{ SITEURL }}/{{ article.override_url }}" class="thought__bar"></a>
  <div class="thought__meta">
    {{ article.date.strftime('%B %d, %Y') }}
  </div>
  {{ article.content }}
</div>

{% if article.prev_article or article.next_article %}
<div class="article-nav">
  <div class="article-nav__prev">
    {% if article.prev_article %}
    <span class="article-nav__label"><a href="{{ SITEURL }}/thoughts/{{ article.prev_article.thought_id }}">Previous</a></span>
    {% endif %}
  </div>
  <div class="article-nav__next">
    {% if article.next_article %}
    <span class="article-nav__label"><a href="{{ SITEURL }}/thoughts/{{ article.next_article.thought_id }}">Next</a></span>
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}
